
// .test
//   position: absolute
//   color: indigo
//   zoom: 500%
// .testbb 
//    background: linear-gradient(top, white, black);
.container
  position absolute
  min-height 100%
  background #525A6F
  width 100%
.main
  background #525A6F
  width 100%
  transition all 1s 
.main-
  background #525A6F
  width 70%
  transition all 1s 
  