

.main

  position absolute
  top 0
  right 0
  width 100%
  background #525A6F
  transition width 1s cubic-bezier(0.18, 0.96, 0.19, 1.11)
  & p
    width 80%
    margin auto
.main-to-right
  width 80%

.resume-page
  width 100%
  height 1000px
  background white
  box-shadow 0 0 black 100px 100px


